/*
Project Name: Final Project, Main_mobilefirst
Client: FEWD25
Author: Andy Aronoff
Developer @GA in DC
*/

/*************************************
/* COLORS
/*************************************
/* hsla(94, 53%, 48%, .8); /* sage green */
/* hsla(94, 25%, 85%, 1); /* light green grey*/
/* hsla(194, 25%, 85%, 1); /* pale blue grey */
/* hsla(194, 95%, 57%, 0.85); /* aqua blue */
/* hsla(0, 0%, 0%, 1); /* black */
/* hsla(0, 0%, 53%, 0.85); /* medium grey */
/* hsla(360, 100%, 100%, 1); /* white */
/* hsla(12, 45%, 25%, 1); /* dark rust */
/* hsla(0, 0%, 0%, 0); /* transparent */

/************************************
/* Media Query Sizes
/************************************
/* @media screen and (max-width: 350px) {} 
/* @media screen and (min-width: 759p) {}
/* @media screen and (min-width: 1119px) {}

/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

.alignright {
	float: right;
}

.alignleft {
	float: left;
}

.bold {
  font-weight: bold;
}

/******************************************/

body {
  background-color: hsla(94, 25%, 85%, 1); /* light green grey*/
  font-family: "Open Sans Condensed";
  line-height: 1.4;
  font-size: 20px;
  text-align: center;
}

header {
  width: 100%;
  background-color: hsla(0, 0%, 0%, 1); /* black */
  position: fixed;
  top: 0;
  height: 70px;
  box-shadow: 0 5px 10px hsla(0, 0%, 10%, 0.9); 
  z-index: 2;
}
  header h1 {
    display: none;
  }

.anchor { /* offset the anchor call on same page */
  display: block;
  height: 80px;
  margin-top: -80px;
  visibility: hidden;
}

nav {
  float: right;
  list-style: none;
  width: 110%;
  height: 100%;
}
  nav a {
    display: block;
    float: right;
    width: 100px;
    color: hsla(94, 25%, 85%, 1); /* light green grey*/
    text-decoration: none;
    font-family: "Open Sans Condensed";
    font-size: 26px;
    line-height: 1.1;
    padding: 20px 0;
    text-align: center;
    height: 70px;
    /* fade in and out hover transition for nav a */
    -webkit-transition: background-color .33s ease-in;   
    -webkit-transition-delay: .1s; 
    -moz-transition: background-color .33s ease-in;   
    -moz-transition-delay: .1s; 
    -ms-transition: background-color .33s ease-in;   
    -ms-transition-delay: .1s; 
    -o-transition: background-color .33s ease-in;   
    -o-transition-delay: .1s; 
    transition: background-color .33s ease-in;   
    transition-delay: .1s;
  }
    nav a:hover {
      background-color: hsla(94, 53%, 48%, .8); /* sage green */
      -webkit-transition-delay: 0s;
      -moz-transition-delay: 0s;
      -ms-transition-delay: 0s;
      -o-transition-delay: 0s;
      transition-delay: 0s;
    }
    .codeBlue {
      color: hsla(94, 53%, 48%, .8); /* sage green */
      font-weight: bold;
    }
    .mediaBigShow {
      display: none;
    }
    .mediaBigHide {
    }

#dropdownMenu {
  width: 200px;
  background-color: hsla(0, 0%, 0%, 1); /* black */
  float: right;
  z-index: 4;
  display: none;
}
  #dropdownMenu a {
    display: block;
    padding: 10px 25px 1px 0;
    width: 100%;
    height: 55px;
    text-align: right;
    border-top: .1px solid hsla(94, 25%, 85%, 1); /* light green grey*/
    color: hsla(94, 25%, 85%, 1); /* light green grey*/
    text-decoration: none;
    font-family: "Open Sans Condensed";
    font-size: 26px;
    line-height: 1.3;
    /* fade in and out hover transition for nav a */
    -webkit-transition: background-color .33s ease-in;   
    -webkit-transition-delay: .1s; 
    -moz-transition: background-color .33s ease-in;   
    -moz-transition-delay: .1s; 
    -ms-transition: background-color .33s ease-in;   
    -ms-transition-delay: .1s; 
    -o-transition: background-color .33s ease-in;   
    -o-transition-delay: .1s; 
    transition: background-color .33s ease-in;   
    transition-delay: .1s;
  }
  #dropdownMenu a:hover {
      background-color: hsla(94, 53%, 48%, .8); /* sage green */
      -webkit-transition-delay: 0s;
      -moz-transition-delay: 0s;
      -ms-transition-delay: 0s;
      -o-transition-delay: 0s;
      transition-delay: 0s;
    }
    @media screen and (min-width: 759px) {
      .mediaBigShow {
        display: block;
      }
      .mediaBigHide {
        display: none
      }
    }

#showCode {
  /*height: 75%;*/
  width: 75%;
  background-color: hsla(0, 0%, 0%, 1); /* black */
  color: white;
  padding: 5px 5px 5px 5px;
  position: fixed;
  top: 2.5%;
  right: 2.5%;
  opacity: .9;
  z-index: 4;
  display: none;
  border: 1px solid hsla(360, 100%, 100%, 1); /* white */
}
  #showCode a { /* #closeShowCode */
    display: block;
    width: 30px;
    height: 30px;
    color: hsla(360, 100%, 100%, 1); /* white */
    position: fixed;
    top: calc(3% + 5px);
    right: calc(3% + 5px);
    text-decoration: none;
    padding-top: 5px;
    border: 2px solid hsla(360, 100%, 100%, 1); /* white */
    background-color: hsla(0, 0%, 0%, 0); /* transparent */
    font-family: "Arial";
    line-height: .9;
    /* fade in and out hover transition for nav a */
    -webkit-transition: background-color .33s ease-in;   
    -webkit-transition-delay: .1s; 
    -moz-transition: background-color .33s ease-in;   
    -moz-transition-delay: .1s; 
    -ms-transition: background-color .33s ease-in;   
    -ms-transition-delay: .1s; 
    -o-transition: background-color .33s ease-in;   
    -o-transition-delay: .1s; 
    transition: background-color .33s ease-in;   
    transition-delay: .1s;
  }
    #showCode a:hover { /* #closeShowCode */
      background-color: hsla(94, 53%, 48%, .8); /* sage green */
      -webkit-transition-delay: 0s;
      -moz-transition-delay: 0s;
      -ms-transition-delay: 0s;
      -o-transition-delay: 0s;
      transition-delay: 0s;
    }

.codeBox {
  width: 90%;
  height: 110px;
  margin: 10px 5% 10px 5%;
  float: left;
  overflow: scroll;
  font-family: "Space Mono";
  font-size: 11px;
  line-height: 1.2;
  padding: 10px;
  text-align: left;
  }
  /* styling scrollbar within the showCode */
  .codeBox::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  .codeBox::-webkit-scrollbar-track {
    background-color: hsla(12, 45%, 25%, 1); /* dark rust */
  }
  .codeBox::-webkit-scrollbar-thumb {
      background-color: hsla(0, 0%, 53%, 0.85); /* medium grey */
  }
  .codeBox::-webkit-scrollbar-corner {
    background-color: hsla(0, 0%, 0%, 1); /* black */
  }


#htmlBox {
  background-color: hsla(12, 45%, 25%, 1); /* dark rust */
}
#cssBox {
  background-color: hsla(12, 45%, 25%, 1); /* dark rust */
}
#jsBox {
  background-color: hsla(12, 45%, 25%, 1); /* dark rust */
}

/* background images */
.background1 {
  background-image: url("../images/background1_mod.jpg");
}
.background2 {
  background-image: url("../images/background2.jpg");
}
.background3 {
  background-image: url("../images/photo-1446080501695-8e929f879f2b.jpg");
}

main, .backgroundImage { 
  margin: 70px 0 0 0;
  z-index: 0;
  /* background image styles */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  height: 500px;
  box-shadow: 0 5.5px 10px hsla(0, 0%, 10%, 0.8), 0 -5.5px 10px hsla(0, 0%, 10%, 0.8); /* bottom, top shadow */
  /* background video styles <!-- http://mediaboom.com/--> h264 format?*/
/*  min-width: 1000px;
  width: 100%;
  height: auto;*/
}
  main h2, .backgroundImage h2 {
    padding: 235px 0 0 15px;
    text-align: center;
    color: hsla(360, 100%, 100%, 1); /* white */
    font-family: "Fredericka the Great";
    font-size: 46px;
  }
  main video {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-top: -150px;
  }
  @media screen and (max-width: 350px) {
    main, .backgroundImage {
      height: 400px;
    }
  }
  @media screen and (min-width: 759px) {
    main, .backgroundImage {
      height: 600px;
    }
    main h2, .backgroundImage h2 {
      padding-top: 280px;
    }
  }

hr {
  width: 60%;
}

section {
  width: 100%;
  min-height: 200px;
  text-align: center;
  margin-bottom: 80px;
}
  section h2 {
    display: block;
    padding: 50px 0 40px 0;
    font-family: "Vidaloka";
    font-size: 40px;
  }
  section p {
    margin: 0 10% 20px 10%;
    width: 80%;
  }

.gradient {
  /* background gradient */
  background: hsla(194, 25%, 85%, 1); /* For browsers that do not support gradients */
  /* For Safari 5.1 to 6.0 */
  background: -webkit-linear-gradient(hsla(360, 100%, 100%, 1), hsla(194, 25%, 85%, 1), hsla(194, 25%, 85%, 1), hsla(194, 25%, 85%, 1)); /* white, pale blue grey, pale blue grey */
  /* For Opera 11.1 to 12.0 */
  background: -o-linear-gradient(hsla(360, 100%, 100%, 1), hsla(194, 25%, 85%, 1), hsla(194, 25%, 85%, 1), hsla(194, 25%, 85%, 1)); /* white, pale blue grey, pale blue grey */
  /* For Fx 3.6 to 15 */
  background: -moz-linear-gradient,hsla(360, 100%, 100%, 1), hsla(194, 25%, 85%, 1), hsla(194, 25%, 85%, 1), hsla(194, 25%, 85%, 1)); /* white, pale blue grey, pale blue grey */
  /* Standard syntax */
  background: linear-gradient(hsla(360, 100%, 100%, 1), hsla(194, 25%, 85%, 1), hsla(194, 25%, 85%, 1), hsla(194, 25%, 85%, 1)); /* white, pale blue grey, pale blue grey */
}

.iceBreaker {
  text-align: left;
  margin: auto;
  border: none;
}
  .iceBreaker td {
    padding: 1px 2.5px 1px 12.5px;
  }

.profilePic {
  background-image: url("../images/11703349_10103898775464568_2357507948393974766_n.jpg");
  width: 300px;
  height: 400px;
  background-size: 531.75px 547.5px; /* X709 x Y720 */
  background-position: top left;
  margin: 50px auto;
}

.profileBio {
  width: 70%;
  margin: 0 15% 0 15%;
  text-align: left;
}
  .profileBio:first-letter {
    font-size: 56px;
    line-height: .8;
    float: left;
    padding: 6px 5px 0 2px;
  }
    @media screen and (min-width: 759px) and (max-width: 1118px){
      .profileBox {
        width: 100%;
        height: 450px; /* do based on text length */
        position: relative;
      }
      .profilePic {
        display: inline-block;
        position: absolute;
        left: 10%;
        top: 50px;
        margin: 0;
      }
      .profileBio {
        display: inline-block;
        position: absolute;
        right: 2%;
        top: 50px;
        width: 50%;
        margin: 0;
      }
    }
    @media screen and (min-width: 1119px) {
      .profileBox {
        height: 450px;
      }
      .profilePic {
        float: left;
        margin-left: 20%;
      }
      .profileBio {
        float: left;
        width: 50%;
        float: left;
        display: inline-block;
        margin: -455px 20% 0 calc(20% + 300px);
      }
    }

.outer {
  width: 70%;
  min-width: 300px;
  text-align: center;
  margin: 0 auto;
}

.innerGallery {
  width: 270px;
  text-align: center;
  padding: 2.5px;
  overflow: hidden;
  margin: auto;
}
  @media screen and (min-width: 759px) { 
  .innerGallery {
    width: 525px;
  }
}
  @media screen and (min-width: 1119px) {
  .innerGallery {
    width: 785px;
  }
}

.tile {
  width: 250px;
  height: 250px; 
  margin: 5px;
  float: left;
  background-color: hsla(94, 53%, 48%, .8); /* sage green */
  /* fade in and out hover transition for div */
  -webkit-transition: background-color .33s ease-in;   
  -webkit-transition-delay: .1s; 
  -moz-transition: background-color .33s ease-in;   
  -moz-transition-delay: .1s; 
  -ms-transition: background-color .33s ease-in;   
  -ms-transition-delay: .1s; 
  -o-transition: background-color .33s ease-in;   
  -o-transition-delay: .1s; 
  transition: background-color .33s ease-in;   
  transition-delay: .1s;
}
  .tile:hover {
    background-color: hsla(0, 0%, 0%, 1); /* black */
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -ms-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
  }

footer {
  width: 100%;
  height: 330px;
  background-color: hsla(0, 0%, 0%, 1); /* black */
  color: hsla(94, 25%, 85%, 1); /* light green grey*/
  box-shadow: 0 -5px 10px hsla(0, 0%, 10%, 0.9); 
}
  footer h2 {
    display: block;
    font-family: "Vidaloka";
    font-size: 40px;
    padding: 50px 0 40px 0;
  }
  footer ul {
    margin-bottom: 40px;
  }
  footer li {
    display: inline-block;
    margin: 0 10px 0 0;
  }

.socialIcon {
  display: block;
  height: 50px;
  width: 50px;
  padding-top: 2.5px;
  background-size: 103px 103px;
  background-position: 50px 0px;
  background-color: hsla(360, 100%, 100%, 1); /* white */
  color: hsla(0, 0%, 0%, 1); /* black */
  font-size: 36px;
  font-weight: bold;
  text-decoration: none;
  /* fade in and out hover transition for icon */
  -webkit-transition: color .33s ease-in;   
  -webkit-transition-delay: .1s; 
  -moz-transition: color .33s ease-in;   
  -moz-transition-delay: .1s; 
  -ms-transition: color .33s ease-in;   
  -ms-transition-delay: .1s; 
  -o-transition: color .33s ease-in;   
  -o-transition-delay: .1s; 
  transition: color .33s ease-in;   
  transition-delay: .1s;
}
  .socialIcon:hover {
    color: hsla(94, 53%, 48%, .8); /* sage green */
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -ms-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
  }