/*
Project Name: Final Project, Main_mobilefirst
Client: FEWD25
Author: Andy Aronoff
Developer @GA in DC
*/

/*************************************
/* COLORS
/*************************************
/* hsla(94, 53%, 48%, .8); /* sage green */
/* hsla(94, 25%, 85%, 1); /* light green grey*/
/* hsla(0, 0%, 0%, 1); /* black */
/* hsla(0, 0%, 53%, 0.85); /* medium grey */
/* hsla(360, 100%, 100%, 1); /* white */
/* hsla(12, 45%, 25%, 1); /* dark rust */
/* hsla(0, 0%, 0%, 0); /* transparent */

/************************************
/* MEDIA QUERY SIZES
/************************************
/* @media screen and (max-width: 350px) {} 
/* @media screen and (min-width: 759p) {}
/* @media screen and (min-width: 759px) and (max-width: 1118px) {
/* @media screen and (min-width: 1119px) {}

/******************************************
/* STYLES
/*******************************************/

/* BOX MODEL HACK */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

/* CLEAR FIX HACK */
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}

.bold {
  font-weight: bold;
}

body {
  background-color: hsla(94, 25%, 85%, 1); /* light green grey*/
  font-family: "Open Sans Condensed";
  font-size: 20px;
  line-height: 1.4;
  text-align: center;
}

header {
  background-color: hsla(0, 0%, 0%, 1); /* black */
  box-shadow: 0 5px 10px hsla(0, 0%, 10%, 0.9); 
  height: 70px;
  position: fixed;
  top: 0;  
  width: 100%;
  z-index: 2;
}

header h1 {
  display: none;
}

.anchor { /* offset the anchor call on same page */
  display: block;
  height: 80px;
  margin-top: -80px;
  visibility: hidden;
}

nav {
  float: right;
  height: 100%;
  list-style: none;
  width: 110%;
}

nav a {
  color: hsla(94, 25%, 85%, 1); /* light green grey*/
  display: block;
  float: right;
  font-family: "Open Sans Condensed";
  font-size: 26px;
  height: 70px;
  line-height: 1.1;
  padding: 20px 0;
  text-align: center;
  text-decoration: none;
  width: 100px;
  /* fade in and out hover transition for nav a */
    -webkit-transition: background-color .33s ease-in;   
    -webkit-transition-delay: .1s; 
    -moz-transition: background-color .33s ease-in;   
    -moz-transition-delay: .1s; 
    -ms-transition: background-color .33s ease-in;   
    -ms-transition-delay: .1s; 
    -o-transition: background-color .33s ease-in;   
    -o-transition-delay: .1s; 
    transition: background-color .33s ease-in;   
    transition-delay: .1s;
  }
  nav a:hover {
    background-color: hsla(94, 53%, 48%, .8); /* sage green */
      -webkit-transition-delay: 0s;
      -moz-transition-delay: 0s;
      -ms-transition-delay: 0s;
      -o-transition-delay: 0s;
      transition-delay: 0s;
  }

.codeBlue {
  color: hsla(94, 53%, 48%, .8); /* sage green */
  font-weight: bold;
}

.mediaBigShow {
  display: none;
}

.mediaBigHide {}

  @media screen and (min-width: 759px) {
    .mediaBigShow {
      display: block;
    }
    .mediaBigHide {
      display: none
    }
  }

#dropdownMenu {
  background-color: hsla(0, 0%, 0%, 1); /* black */
  display: none;
  float: right;
  width: 200px;
  z-index: 4;
}

#dropdownMenu a {
  border-top: .1px solid hsla(94, 25%, 85%, 1); /* light green grey*/
  color: hsla(94, 25%, 85%, 1); /* light green grey*/
  display: block;
  font-family: "Open Sans Condensed";
  font-size: 26px;
  height: 55px;
  line-height: 1.3;
  padding: 10px 25px 1px 0;
  text-align: right;
  text-decoration: none;
  width: 100%; 
  /* fade in and out hover transition for nav a */
    -webkit-transition: background-color .33s ease-in;   
    -webkit-transition-delay: .1s; 
    -moz-transition: background-color .33s ease-in;   
    -moz-transition-delay: .1s; 
    -ms-transition: background-color .33s ease-in;   
    -ms-transition-delay: .1s; 
    -o-transition: background-color .33s ease-in;   
    -o-transition-delay: .1s; 
    transition: background-color .33s ease-in;   
    transition-delay: .1s;
}
  #dropdownMenu a:hover {
    background-color: hsla(94, 53%, 48%, .8); /* sage green */
      -webkit-transition-delay: 0s;
      -moz-transition-delay: 0s;
      -ms-transition-delay: 0s;
      -o-transition-delay: 0s;
      transition-delay: 0s;
  }

#showCode {
  background-color: hsla(0, 0%, 0%, 1); /* black */
  border: 1px solid hsla(360, 100%, 100%, 1); /* white */
  color: white;
  display: none;
  opacity: .9;
  padding: 5px 5px 5px 5px;
  position: fixed;
  right: 2.5%;
  top: 2.5%;
  width: 75%;
  z-index: 4;
}

#showCode div a { /* #closeShowCode */
  background-color: hsla(0, 0%, 0%, 0); /* transparent */
  border: 2px solid hsla(360, 100%, 100%, 1); /* white */
  color: hsla(360, 100%, 100%, 1); /* white */
  display: block;
  font-family: "Arial";
  height: 30px;
  line-height: .9;
  padding-top: 5px;
  position: fixed;
  right: calc(3% + 5px);
  text-decoration: none;
  top: calc(3% + 5px);
  width: 30px;
  /* fade in and out hover transition for #showCode div a */
    -webkit-transition: background-color .33s ease-in;   
    -webkit-transition-delay: .1s; 
    -moz-transition: background-color .33s ease-in;   
    -moz-transition-delay: .1s; 
    -ms-transition: background-color .33s ease-in;   
    -ms-transition-delay: .1s; 
    -o-transition: background-color .33s ease-in;   
    -o-transition-delay: .1s; 
    transition: background-color .33s ease-in;   
    transition-delay: .1s;
}
  #showCode div a:hover { /* #closeShowCode */
    background-color: hsla(94, 53%, 48%, .8); /* sage green */
      -webkit-transition-delay: 0s;
      -moz-transition-delay: 0s;
      -ms-transition-delay: 0s;
      -o-transition-delay: 0s;
      transition-delay: 0s;
  }

.codeBox {
  background-color: hsla(12, 45%, 25%, 1); /* dark rust */
  float: left;
  font-family: "Space Mono";
  font-size: 11px;
  height: 110px;
  line-height: 1.2;
  margin: 10px 5% 10px 5%;
  overflow: scroll;
  padding: 10px;
  text-align: left;
  width: 90%;
}
  /* styling scrollbar within the showCode */
  .codeBox::-webkit-scrollbar {
    height: 10px;
    width: 10px;
  }
  .codeBox::-webkit-scrollbar-corner {
    background-color: hsla(0, 0%, 0%, 1); /* black */
  }
  .codeBox::-webkit-scrollbar-track {
    background-color: hsla(12, 45%, 25%, 1); /* dark rust */
  }
  .codeBox::-webkit-scrollbar-thumb {
    background-color: hsla(0, 0%, 53%, 0.85); /* medium grey */
  }
  
#htmlBox {}
#cssBox {}
#jsBox {}

/* BACKGROUND IMAGES */
.background1 {
  background-image: url("../images/background1_mobile.jpg");
}
.background2 {
  background-image: url("../images/background2_mobile.jpg");
}
.background3 {
  background-image: url("../images/background3_mobile.jpg");
}

main, .backgroundImage { 
  margin: 70px 0 0 0;
  z-index: 0;
  /* background image styles */
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 5.5px 10px hsla(0, 0%, 10%, 0.8), 0 -5.5px 10px hsla(0, 0%, 10%, 0.8); /* bottom, top shadow */
  height: 500px;
}

main h2, .backgroundImage h2 {
  color: hsla(360, 100%, 100%, 1); /* white */
  font-family: "Fredericka the Great";
  font-size: 46px;
  padding: 235px 0 0 15px;
  text-align: center;
}

  @media screen and (max-width: 350px) {
    main, .backgroundImage {
      height: 400px;
    }
  }
  @media screen and (min-width: 759px) {
    main, .backgroundImage {
      height: 600px;
    }
    main h2, .backgroundImage h2 {
      padding-top: 280px;
    }
  }

section {
  margin-bottom: 80px;
  min-height: 200px;
  text-align: center;
  width: 100%;
}

section h2 {
  display: block;
  font-family: "Vidaloka";
  font-size: 40px;
  padding: 50px 0 40px 0;
}

section p {
  margin: 0 10% 20px 10%;
  width: 80%;
}

.iceBreaker {
  border: none;
  margin: auto;
  text-align: left;
}

.iceBreaker td {
  padding: 1px 2.5px 1px 12.5px;
}

.profilePic {
  background-image: url("../images/11703349_10103898775464568_2357507948393974766_n.jpg");
  background-position: top left;
  background-size: 531.75px 547.5px; /* X709 x Y720 */
  height: 400px;
  margin: 30px auto;
  width: 300px;
}

.profileBio {
  margin: 0 15% 0 15%;
  text-align: left;
  width: 70%;
}
  .profileBio:first-letter {
    float: left;
    font-size: 56px;
    line-height: .8;
    padding: 6px 5px 0 2px;
  }

  @media screen and (min-width: 759px) and (max-width: 1118px) {
    .profileBox {
      height: 460px;
      position: relative;
      width: 100%;
    }
    .profilePic {
      display: inline-block;
      left: 10%;
      margin: 0;
      position: absolute;
      top: 28px;
    }
    .profileBio {
      display: inline-block;
      margin: 0;
      position: absolute;
      right: 2%;
      top: 20px;
      width: 50%;
    }
  }
  @media screen and (min-width: 1119px) {
    .profileBox {
      height: 450px;
    }
    .profilePic {
      float: left;
      margin-left: 20%;
    }
    .profileBio {
      display: inline-block;
      float: left;
      margin: -435px 20% 0 calc(20% + 300px);
      width: 50%;
    }
  }

.outer {
  margin: 0 auto;
  min-width: 300px;
  text-align: center;
  width: 70%;
}

.innerGallery {
  margin: auto;
  overflow: hidden;
  padding: 2.5px;
  text-align: center;
  width: 270px;
}
  @media screen and (min-width: 759px) { 
    .innerGallery {
      width: 525px;
    }
  }
  @media screen and (min-width: 1119px) {
    .innerGallery {
      width: 785px;
    }
  }

.tile {
  background-color: hsla(94, 53%, 48%, .8); /* sage green */
  box-shadow: 0 0 2.5px hsla(0, 0%, 10%, 0.75); 
  float: left;
  height: 250px; 
  margin: 5px;
  position: relative;
  width: 250px;
  /* fade in and out hover transition for div */
    -webkit-transition: background-color .33s ease-in;   
    -webkit-transition: box-shadow .33s ease-in; 
    -webkit-transition-delay: .1s; 
    -moz-transition: background-color .33s ease-in;   
    -moz-transition: box-shadow .33s ease-in; 
    -moz-transition-delay: .1s; 
    -ms-transition: background-color .33s ease-in;   
    -ms-transition: box-shadow .33s ease-in;  
    -ms-transition-delay: .1s; 
    -o-transition: background-color .33s ease-in;
    -o-transition: box-shadow .33s ease-in;   
    -o-transition-delay: .1s; 
    transition: background-color .33s ease-in;   
    transition: box-shadow .33s ease-in;  
    transition-delay: .1s;
}
  .tile:hover {
    background-color: hsla(0, 0%, 0%, .7); /* black */
    box-shadow: 0 0 12px hsla(0, 0%, 0%, 1); /* black */
      -webkit-transition-delay: 0s;
      -moz-transition-delay: 0s;
      -ms-transition-delay: 0s;
      -o-transition-delay: 0s;
      transition-delay: 0s;
  }

.tile p {
  color: hsla(360, 100%, 100%, .8); /* white */
  padding-top: 200px;
  position: absolute;
}

/* PROJECT - Codepen Hover */
.codepenLogo {
  background-image: url("../images/Button-Fill-Black-Large.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 90%;
  height: 100%;
  opacity: 0;
  width: 100%;
  /* fade in and out hover transition for div */
    -webkit-transition: opacity .33s ease-in;   
    -webkit-transition-delay: .1s; 
    -moz-transition: opacity .33s ease-in;   
    -moz-transition-delay: .1s; 
    -ms-transition: opacity .33s ease-in;   
    -ms-transition-delay: .1s; 
    -o-transition: opacity .33s ease-in;   
    -o-transition-delay: .1s; 
    transition: opacity .33s ease-in;   
    transition-delay: .1s;
}
  .codepenLogo:hover {
    opacity: .75;
      -webkit-transition-delay: 0s;
      -moz-transition-delay: 0s;
      -ms-transition-delay: 0s;
      -o-transition-delay: 0s;
      transition-delay: 0s;
  }

/* PROJECT - GitHub Hover */
.githubLogo {
  background-image: url("../images/github-logo-icon-30.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 107%;
  height: 100%;
  opacity: 0;
  width: 100%;
  /* fade in and out hover transition for div */
    -webkit-transition: opacity .33s ease-in;   
    -webkit-transition-delay: .1s; 
    -moz-transition: opacity .33s ease-in;   
    -moz-transition-delay: .1s; 
    -ms-transition: opacity .33s ease-in;   
    -ms-transition-delay: .1s; 
    -o-transition: opacity .33s ease-in;   
    -o-transition-delay: .1s; 
    transition: opacity .33s ease-in;   
    transition-delay: .1s;
}
  .githubLogo:hover {
    opacity: .85;
      -webkit-transition-delay: 0s;
      -moz-transition-delay: 0s;
      -ms-transition-delay: 0s;
      -o-transition-delay: 0s;
      transition-delay: 0s;
  }

/* PROJECT - Codepen Hover */
.genWebLogo {
  background-image: url("../images/website-icon.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 86%;
  height: 100%;
  opacity: 0;
  width: 100%;
  /* fade in and out hover transition for div */
    -webkit-transition: opacity .33s ease-in;   
    -webkit-transition-delay: .1s; 
    -moz-transition: opacity .33s ease-in;   
    -moz-transition-delay: .1s; 
    -ms-transition: opacity .33s ease-in;   
    -ms-transition-delay: .1s; 
    -o-transition: opacity .33s ease-in;   
    -o-transition-delay: .1s; 
    transition: opacity .33s ease-in;   
    transition-delay: .1s;
}
  .genWebLogo:hover {
    opacity: .75;
      -webkit-transition-delay: 0s;
      -moz-transition-delay: 0s;
      -ms-transition-delay: 0s;
      -o-transition-delay: 0s;
      transition-delay: 0s;
  }

/* PROJECT SAMPLES */
.projectOne {
  background-image: url("../images/background1_mobile.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 170%;
}
.projectTwo {
  background-image: url("../images/coffeeshop2_mobile.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 170%;
}
.projectThree {
  background-image: url("../images/coffeeshop3_mobile.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 170%;
}

footer {
  background-color: hsla(0, 0%, 0%, 1); /* black */
  box-shadow: 0 -5px 10px hsla(0, 0%, 10%, 0.9); 
  color: hsla(94, 25%, 85%, 1); /* light green grey*/
  height: 330px;
  width: 100%;
}

footer h2 {
  display: block;
  font-family: "Vidaloka";
  font-size: 40px;
  padding: 50px 0 40px 0;
}

footer ul {
  margin-bottom: 40px;
}

footer li {
  display: inline-block;
  margin: 0 10px 0 0;
}

.socialIcon {
  background-color: hsla(360, 100%, 100%, 1); /* white */
  background-position: 50px 0px;
  background-size: 103px 103px;
  color: hsla(0, 0%, 0%, 1); /* black */
  display: block;
  font-size: 36px;
  font-weight: bold;
  height: 50px;
  padding-top: 2.5px;
  text-decoration: none;
  width: 50px;
  /* fade in and out hover transition for icon */
    -webkit-transition: color .33s ease-in;   
    -webkit-transition-delay: .1s; 
    -moz-transition: color .33s ease-in;   
    -moz-transition-delay: .1s; 
    -ms-transition: color .33s ease-in;   
    -ms-transition-delay: .1s; 
    -o-transition: color .33s ease-in;   
    -o-transition-delay: .1s; 
    transition: color .33s ease-in;   
    transition-delay: .1s;
}
  .socialIcon:hover {
    color: hsla(94, 53%, 48%, .8); /* sage green */
      -webkit-transition-delay: 0s;
      -moz-transition-delay: 0s;
      -ms-transition-delay: 0s;
      -o-transition-delay: 0s;
      transition-delay: 0s;
  }

.resumeIcon {
  font-size: 10px;
  font-weight: normal;
}