/*
Project Name: Sample Business Site, Central Café
Client: FEWD25, Final Project
Author: Andy Aronoff
Developer @GA in DC
*/

/******************************************
/* Colors
/*******************************************
/*  hsla(11, 100%, 4%, 1); /* coffee bean black-brown */
/*  hsla(360, 100%, 100%, 0.33); /* transparent CLOSE white */
/*  hsla(360, 100%, 100%, 0.7); /* transparent white */
/*  hsla(360, 100%, 100%, 0); /* transparent ENTIRELY */

/******************************************
/* @Media Queries
/*******************************************
/*  @media screen and (min-width: 700px) {}
/*  @media screen and (min-width: 1000px) {}
/*  @media screen and (min-width: 1300px) {}

/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}
/*
.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image 
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image 
}*/

/******************************************
/* BASE STYLES
/*******************************************/

.blackBrownBand {
  background-color: hsla(11, 100%, 4%, 1); /* coffee bean black-brown */
  width: 100%;
  height: 75px;
  margin: 0;
  padding: 0;
  border: none;
}

body {
  color: white;
  display: block;
  font-size: 18px;
  line-height: 1.4;
  font-family: "Roboto", sans-serif;
  /*added by Andy*/
  width: 100%;
  background-color: hsla(11, 100%, 4%, 1); /* coffee bean black-brown */
}

header {
  display: ;
/*  position: absolute;
  width: 100%;*/
}

.hamburger {
  width: 50px;
  height: 50px;
  border: 3px solid white;
  text-align: center;
  border-radius: 5px;
  position: fixed;
  top: 11.5px;
  right: 12.5px;
  z-index: 10;
  background-color: hsla(360, 100%, 100%, 0); /* transparent ENTIRELY */
}

.hamburger p { /* creating the 3 lines */
  font-family: "Arial";
  font-size: 38px;
  line-height: .25;
  margin-top: -9.5px;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 0;
  opacity: .95;
  /*box-shadow: -7px 7px 10px black;*/
}

nav li a {
  display: block;
  width: 251px;
  height: 50px;
  background-color: hsla(11, 100%, 4%, 1); /* coffee bean black-brown */
  border-left: 1px dotted hsla(360, 100%, 100%, 0.7); /* transparent white */
  border-bottom: 1px dotted hsla(360, 100%, 100%, 0.7); /* transparent white */
  color: white;
  font-family: "Arial";
  font-size: 20px;
  line-height: 1.2;
  padding: 12.5px 0 0 25px;
  text-decoration: none;
 }

.firstNav {
  display: block;
  width: 251px;
  height: 75px;
  background-color: hsla(11, 100%, 4%, 1); /* coffee bean black-brown */
  padding: 25px 0 0 115px;
  border-left: 1px dotted hsla(360, 100%, 100%, 0.7); /* transparent dotted menu border white */
  font-weight: thin;
  font-style: italic;
  color: hsla(360, 100%, 100%, 0.33); /* transparent CLOSE white */
}

.lastNav {
  border-radius: 0 0 0 10px; /* top-left, top-right, bottom-right, bottom-left */
}

/* different pages, #id by section */
section {
  position: absolute;
  z-index: -1;
  width: 100%;
}
#homepage {
  display: none;
}
#ourStory {
  display: none;
}
#menu {
  display: none;
}
#shop {
  display: none;
}
#contact {
  display: none;
}

.paralax {
  width: 100%;
  height: 400px;
}
  .paralax h2 {
    font-size: 50px;
    font-family: "Damion";
    text-align: center;
    padding-top: 100px;
  }
  .background1 {
    background-image: url("../images/coffeeshop1_mobile.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .background2 {
    background-image: url("../images/coffeeshop2_mobile.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .background3 {
    background-image: url("../images/coffeeshop3_mobile.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .background4 {
    background-image: url("../images/coffeeshop4_mobile.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .background5 {
    background-image: url("../images/coffeeshop5_mobile.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }


@media screen and (min-width: 700px) {
  .paralax {
    height: 500px;
  }
}
@media screen and (min-width: 1000px) {
  .paralax {
    height: 600px;
  }
}
@media screen and (min-width: 1300px) {
  .paralax {
    height: 700px;
  }
}

.newPage {}
  .newPage h3 {
    margin-left: 10%;
    font-size: 50px;
    font-family: "Damion";
  }
  .newPage p {
    margin: 0 10%;
  }

.homepageContent {}

.ourStoryContent {}

.menuContent {}
  .menuMain {
    margin-left: 10%;
    background-color: hsla(11, 100%, 4%, 1); /* coffee bean black-brown */
    width: 90%;
  }
  .menuh4 {
    font-size: 1.1rem;
    padding-bottom: .1px;
  }
  .menuGroup {
    float: left;
    padding-left: 0;
    display: inline;
  }
    .menuGroup h4 {
      color: gold;
      font-size: 1.5rem;
      font-style: italic;
    }
    .menuGroup li {
      margin-left: 5%;
      font-family: "Roboto Condensed";
      width: 350px;
      overflow: none;
    }

@media screen and (min-width: 700px) {
  .menuGroup:nth-Child(3) {
    clear: both; /* clearfix float */
  }
}
@media screen and (min-width: 1000px) {}
@media screen and (min-width: 1300px) {
  .menuGroup:nth-Child(3) {
    clear: none; /* undo clearfix float, allow float */
  }
  .menuGroup li {
    margin-left: 5%;
    width: 275px;
  }
}

.shopContent {}

.contactContent {}

.foot {
  width: 100%;
  height: 200px;
  padding-top: 60px;
  text-align: center;
}