/*
Project Name: Final Project, Main
Client: FEWD25
Author: Andy Aronoff
Developer @GA in DC
*/

/*************************************
/* COLORS
/*************************************
/* hsla(94, 53%, 48%, .8); /* sage green */
/* hsla(194, 25%, 85%, 1); /* pale blue grey */
/* hsla(194, 95%, 57%, 0.85); /* aqua blue */
/* hsla(0, 0%, 0%, 1); /* black */
/* hsla(0, 0%, 53%, 0.85); /* medium grey */
/* hsla(360, 100%, 100%, 1); /* white */




/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

.alignright {
	float: right;
	padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
	float: left;
	padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

.bold {
  font-weight: bold;
}

/******************************************
/* BASE STYLES
/*******************************************/

/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
.container {
	width: 960px;
	margin: auto;
  padding-top: 5em;
}

/******************************************/

body {
  background-color: hsla(194, 25%, 85%, 1); /* pale blue grey */
  font-family: "Ubuntu";
  text-align: center;
/*  max-width: 960px;
  width: 70%;
  min-width: 300px;
  margin: 200px auto 0 auto;*/
}

header {
  width: 100%;
  background-color: hsla(0, 0%, 0%, 1); /* black */
  position: fixed;
  top: 0;
  height: 70px;
  box-shadow: 0 5px 10px hsla(0, 0%, 53%, 0.85); /* medium grey */
  z-index: 2;
}
  header h1 {
    display: none;
  }

.anchor { /* offset the anchor call on same page */
  display: block;
  height: 80px;
  margin-top: -80px;
  visibility: hidden;
}

nav {
  float: right;
  list-style: none;
  width: 110%;
  height: 100%;
}
  nav a {
    display: block;
    float: right;
    width: 100px;
    color: hsla(194, 25%, 85%, 1); /* pale blue grey */
    text-decoration: none;
    font-family: "Covered By Your Grace";
    font-size: 30px;
    padding: 20px 0;
    text-align: center;
    height: 70px;
    /* fade in and out hover transition  for nav a */
    -webkit-transition: background-color .33s ease-in;   
    -webkit-transition-delay: .1s; 
    -moz-transition: background-color .33s ease-in;   
    -moz-transition-delay: .1s; 
    -ms-transition: background-color .33s ease-in;   
    -ms-transition-delay: .1s; 
    -o-transition: background-color .33s ease-in;   
    -o-transition-delay: .1s; 
    transition: background-color .33s ease-in;   
    transition-delay: .1s;
  }
    nav a:hover {
      background-color: hsla(194, 95%, 57%, 0.85); /* aqua blue */
      -webkit-transition-delay: 0s;
      -moz-transition-delay: 0s;
      -ms-transition-delay: 0s;
      -o-transition-delay: 0s;
      transition-delay: 0s;
    }
    nav:last-child li {
      margin-right: 7.5px;
    }
    .codeBlue {
      color: hsla(194, 95%, 57%, 0.85); /* aqua blue */;
    }
    @media (max-width: 759px) {
      .mediaSmallHide {
        display: none;
      }
      header {
        height: 50px;
      }
      nav a {
        height: 50px;
        width: 80px;
        font-size: 24px;
        padding: 15px 0;
      }
    }
    @media (max-width:400px) {
      .mediaMobileHide {
        display: none; /* create a resume page for mobile, download? */
      }
      header {
        height: 40px;
      }
      nav a {
        height: 40px;
        width: 60px;
        font-size: 20px;
        padding: 10px 0;
      }
    }

#showCode {
  height: 50%;
  width: 70%;
  background-color: black;
  color: white;
  padding: 20px 4px 5px 5px;
  position: fixed;
  top: 50px;
  right: 2.5%;
  opacity: .8;
  z-index: 1;
  display: none;
}

.codeBox {
  width: 31%;
  height: calc(100% - 2% - 5px);
  margin: 1% 1% calc(1% + 5px) 1%;
  float: left;
  overflow: scroll;
  font-size: 10.5px;
  border: 1px solid white;
  }
  /* styling scrollbar within the showCode */
  .codeBox::-webkit-scrollbar {
    background-color: black;
  }
  .codeBox::-webkit-scrollbar-track {
    background-color: black;
  }
  .codeBox::-webkit-scrollbar-thumb {
      background-color: grey;
    }

#htmlBox {
  background-color: red;
}
#cssBox {
  background-color: blue;
}
#jsBox {
  background-color: green;
}

main { 
  margin: 200px 0 150px 0;
  z-index: 0;
}
  main video {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-top: -150px;
  }

hr {
  width: 60%;
}

section {
  width: 100%;
  min-height: 200px;
  text-align: center;
  margin-bottom: 100px;
}
  section h2 {
    display: block;
    font-family: "Covered By Your Grace";
    font-size: 30px;
    padding: 40px 0;
  }

.gradient {
  /* background gradient */
  background: hsla(194, 25%, 85%, 1); /* For browsers that do not support gradients */
  /* For Safari 5.1 to 6.0 */
  background: -webkit-linear-gradient(hsla(360, 100%, 100%, 1), hsla(194, 25%, 85%, 1), hsla(194, 25%, 85%, 1), hsla(194, 25%, 85%, 1)); /* white, pale blue grey, pale blue grey */
  /* For Opera 11.1 to 12.0 */
  background: -o-linear-gradient(hsla(360, 100%, 100%, 1), hsla(194, 25%, 85%, 1), hsla(194, 25%, 85%, 1), hsla(194, 25%, 85%, 1)); /* white, pale blue grey, pale blue grey */
  /* For Fx 3.6 to 15 */
  background: -moz-linear-gradient,hsla(360, 100%, 100%, 1), hsla(194, 25%, 85%, 1), hsla(194, 25%, 85%, 1), hsla(194, 25%, 85%, 1)); /* white, pale blue grey, pale blue grey */
  /* Standard syntax */
  background: linear-gradient(hsla(360, 100%, 100%, 1), hsla(194, 25%, 85%, 1), hsla(194, 25%, 85%, 1), hsla(194, 25%, 85%, 1)); /* white, pale blue grey, pale blue grey */
}

.iceBreaker {
  text-align: left;
  margin: auto;
  border: none;
}
  .iceBreaker td {
    padding: 5px;
  }

.outer {
  width: 70%;
  min-width: 300px;
  text-align: center;
  margin: 0 auto;
/*  border: 1px solid black;*/
/*
  -webkit-transition-delay: .1s; 
  -moz-transition-delay: .1s; 
  -ms-transition-delay: .1s; 
  -o-transition-delay: .1s; 
  transition-delay: .1s;*/
}

.innerGallery {
  width: 261px;
  text-align: center;
  padding: 2.5px;
/*  border: 1px dashed black;*/
  overflow: hidden;
  margin: auto;
/*
  -webkit-transition-delay: .1s; 
  -moz-transition-delay: .1s; 
  -ms-transition-delay: .1s; 
  -o-transition-delay: .1s; 
  transition-delay: .1s;*/
}
  @media (min-width: 759px) {
  .innerGallery {
    width: 517px;
  }
}
  @media (min-width: 1119px) {
  .innerGallery {
    width: 773px;
  }
}

.tile {
  width: 250px;
  height: 250px; /* auto? */
  margin: 2.5px;
  float: left;
  background-color: blue;
/*
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;*/
}
  .tile:hover {
    background-color: black;
  }

footer {
  width: 100%;
  height: 275px;
  background-color: hsla(0, 0%, 0%, 1); /* black */
  color: hsla(194, 25%, 85%, 1); /* pale blue grey */
  box-shadow: 0 -5px 10px hsla(0, 0%, 53%, 0.85); /* medium grey */
}
  footer h2 {
    display: block;
    font-family: "Covered By Your Grace";
    font-size: 30px;
    padding: 40px 0;
  }
  footer li {
    display: inline-block;
    margin: 0 5px 0 0;
  }
  footer ul {
    margin-bottom: 40px;
  }

.socialIcon {
  height: 50px;
  width: 50px;
}

#facebook {
}

#linkedIn{
}

#gitHub {
}
